strict_rfc3339==0.7
psycopg2
nested_dict>=1.61
jsonschema>=3.0.1
# git+https://github.com/FlyBase/harvdev-utils.git@master#egg=harvdev_utils    # BOB - revert to master after utils update.
git+https://github.com/FlyBase/harvdev-utils.git@DB-998#egg=harvdev_utils
# Below are additional requirements for harvdev-utils itself (not automatically installed by cmd above). 200117gds.
# bioservices
# flake8>=3.5.0
# pubchempy
retry
svn
# requests>=2.21.0
# sqlalchemy
# tqdm>=4.29.0
# urllib3>=1.24.1
# virtualenv>=16.2.0
